
.Myhamburguer{
    display: flex;
    justify-content: end;
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.wrapper_absolute{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: rgba(22, 160, 133, 0.5608);
    color:#e0f2fe;
    font-size:1rem;
    border-radius: 10px;

}
.buttons-menu{
  display: flex;
  justify-content: end;
}
.row-form-menu{
  padding-bottom: 10px;
};

label{
  display: block !important;
}

.wrapper_hs-region{
  width: fit-content;
  height: fit-content;
  background-color: rgba(22, 160, 133, 0.5608);
  color:#e0f2fe;
  padding: 10px;
  font-size:1rem;
  border-radius: 10px;
}