{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#16a085" />
		<link rel="shortcut icon" href="{% if site_globals.favicon and 'http' in site_globals.favicon %}{{ site_globals.favicon }}{% elif site_globals.favicon %}{% static site_globals.favicon %}{% else %}{% static 'tethys_portal/images/default_favicon.png' %}{% endif %}" />
		<title>{{ tethys_app.name }}</title>
	</head>
	<body style="margin: 0;">
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<div id="root"></div>
		<script type="text/javascript">
			/* Put your context vars here. I recommend putting them under 
			   a variable to avoid naming conflicts. 
			*/
			var home_context = {
			  message: '{{message}}',
			};
		  </script>
		<script src="{% static 'owp/frontend/main.js' %}"></script>
	</body>
</html>